
/*body { padding-top: 70px; }*/

.notes {
	position: fixed;
	top: 70px;
	right: 0;
	bottom: 20px;
}

.notes-list {
	position: absolute;
	top: 0;
	right: 15px;
	bottom: 143px;
	left: 15px;
	overflow-x: hidden;
	overflow-y: scroll;
}
  .note{
  	padding: 5px;
  }
  .note:nth-child(odd) {
  	background-color: #f3f3f3;
  }

.notes-form {
	position: absolute;
	right: 15px;
	bottom: 0;
	left: 15px;
}
