//
// Reset
//
html, body,
h1, h2, h3, h4, h5, h6,
p,
dl, dt, dd {
	padding: 0;
	margin: 0;
}

html,
body {
	background-color: #fff;
}

a { outline: none; }

a img { display: block; }

img {
	width: 100%;
	height: auto;
}

label { cursor: pointer; }

[aria-hidden=true] {
	display: none;
	visibility: hidden;
}

b, strong, .bold {
	font-weight: 600;
}

i, em, .italic {
	font-style: italic;
}


//
// Type
//
html,
body {
	font-family: $family;
	letter-spacing: .025em;
	color: $SDBlack;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}
h2 {
	font-size: 1.5rem;
	line-height: 1;
	text-transform: uppercase;
	a {
		text-decoration: none;
		color: $SDBlack;
	}
}
.sub-head {
	font-size: .75rem;
	color: $gray;
}
.header-page { margin: 19px 0; }

p {
	font-size: .75rem;
	line-height: 1.5;
}
.subtext {
	color: $gray;
}
.excerpt {
	text-overflow: ellipsis;
}
