//
// .grid-
//

[class^=grid-] {
	box-sizing: border-box;
	float: left;
}

.wrapper-grid { width: 100%; } /*set max site width*/
.full-grid {
	box-sizing: border-box;
	width: 100%;
	padding: 0 $column * 1vw;
}
.grid-2 { width: $column * 2%; }
.grid-30 { width: $column * 30%; }
.grid-half {
	width: 50%;
	padding: 0 $column + vw !important;
}
.grid-third {
	width: 31.25%;
	padding: 0 $column + vw !important;
}





.grid-alpha { padding-left: 0; }
.grid-omega { padding-right: 0; }


/*Clearfix .wrapper-grid and [class^=grid-]*/
.clearfix:before,
.clearfix:after,
.wrapper-grid:before,
.wrapper-grid:after,
.full-grid:before,
.full-grid:after,
[class^=grid-]:before,
[class^=grid-]:after {
	content: " ";
	display: table;
}

.clearfix:after,
.wrapper-grid:after,
.full-grid:after,
[class^=grid-]:after {
	clear: both;
}
