//
// modules
//

//gobal header
.global-header,
#app-trigger-global-nav {
	height: 40px;
}


.page-home { margin-top: 55px; }

//list
.list-reset,
.list-reset li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.list-item { margin-bottom: 65px !important; }

//
// Note
//
.note {

	&-excerpt {
		max-height: 144px;
		margin-bottom: 65px;
		overflow: hidden;

		&-list {
			margin: 50px 0;
		}

	}
}

//
// Home Button
//
#app-trigger-global-nav {
	padding-top: 6px;
	display: block;
}