//
// modules
//

//gobal header
.global-header,
#app-trigger-global-nav {
	height: 40px;
}


.page-home { margin-top: 55px; }

//list
.list-reset,
.list-reset li {
	padding: 0;
	margin: 0;
	list-style: none;
}