//Variables

//Fonts

//Colors


//Mixins

//font: font-style font-variant font-weight font-size/line-height font-family;
//font-style: normal, italic, oblique
//font-variant: normal, small-caps
//font-weight: {ultraLight:100, thin:200, light:300, roman(normal):400, medium:500, bold:700, heavy:800, black: 900}
@mixin font($fam, $sz, $lnHeight) {

	@if ($fam) {
		font: normal normal 400 $sz/16 + em/ + ($lnHeight/$sz) $fam;
	}
	@else {
		font-size: $sz/16 + em;
		line-height: $lnHeight/$sz;
	}
}
