//
// Type
//

$family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;


//
// Color
//

$SDBlack: #111; //Slightly Darker Black
$black: #222;
$gray: #999;


//
// Grid
//

$column: 3.125%;
