<global-header></global-header>

<div ng-controller="NotesAddCtrl" class="full-grid">

	<div class="wrapper-grid">
		<div class="grid-half">
			<h2 class="header-page">Add Note</h2>
		</div>
	</div>

	<div class="wrapper-grid">
		<div class="grid-half">
			<form ng-submit="addNote($event)" id="note-add" novalidate>
				<div class="input-wrapper">
					<textarea ng-model="newNote" rows="10" placeholder="Note" autofocus></textarea>
				</div>
				<button type="submit" class="button button-primary">Add Note</button>
			</form>
		</div>
		<div class="grid-half">
			<div class="note-view">{{newNote}}</div>
		</div>
	</div>

</div>
