<dl>
	<dt>Strength</dt>
	<dd>{{::singleCharacter.strength.score}}</dd>
	<dd>{{singleCharacter.strength.bonus > 0 ? '+' : ''}}{{::singleCharacter.strength.bonus}}</dd>
	<dt>Dexterity</dt>
	<dd>{{::singleCharacter.dexterity.score}}</dd>
	<dd>{{singleCharacter.dexterity.bonus > 0 ? '+' : ''}}{{::singleCharacter.dexterity.bonus}}</dd>
	<dt>Constitution</dt>
	<dd>{{::singleCharacter.constitution.score}}</dd>
	<dd>{{singleCharacter.constitution.bonus > 0 ? '+' : ''}}{{::singleCharacter.constitution.bonus}}</dd>
	<dt>Intelligence</dt>
	<dd>{{::singleCharacter.intelligence.score}}</dd>
	<dd>{{singleCharacter.intelligence.bonus > 0 ? '+' : ''}}{{::singleCharacter.intelligence.bonus}}</dd>
	<dt>Wisdom</dt>
	<dd>{{::singleCharacter.wisdom.score}}</dd>
	<dd>{{singleCharacter.wisdom.bonus > 0 ? '+' : ''}}{{::singleCharacter.wisdom.bonus}}</dd>
	<dt>Charisma</dt>
	<dd>{{::singleCharacter.charisma.score}}</dd>
	<dd>{{singleCharacter.charisma.bonus > 0 ? '+' : ''}}{{::singleCharacter.charisma.bonus}}</dd>
</dl>
