<div class="row">

	<div class="col-md-9">

		<header>
			<h1>{{::singleCharacter.name}}</h1>
			<h2>{{::singleCharacter.level}}{{::singleCharacter.level == 2 || singleCharacter.level == 3 ? 'rd' : 'th'}} level {{::singleCharacter.race}} {{::singleCharacter.klass}}
			</h2>
			<dl>
				<dt>Background</dt>
				<dd>{{::singleCharacter.background}}</dd>
				<dt>Faction</dt>
				<dd>{{::singleCharacter.faction}}</dd>
				<dt>Alignment</dt>
				<dd>{{::singleCharacter.alignment}}</dd>
			</dl>
		</header>

		<p>Prof Bonus +{{::singleCharacter.profBonus}}</p>

		<section class="scores">
			<h3>Scores</h3>
			<score></score>
		</section>

		<section class="saves">
			<h3>Saves</h3>
			<save></save>
		</section>

		<section class="skills">
			<h3>Skills</h3>
			<skills></skills>
		</section>







	</div>

	<div ng-controller="NotesCtrl" class="col-md-3 notes">

		<div id="app-notes" class="notes-list">
			<note ng-repeat="note in notes" test-val="theTestValue"></note>
			<!-- Add a click event to notes to add to form for editing -->
		</div>

		<form ng-controller="NoteFormCtrl" ng-submit="submitNote($event)" class="notes-form">
			<!-- add submit to rest service to form -->
			<!-- <input type="hidden" name="id" /> -->
			<div class="form-group">
				<label for="note-input" class="sr-only">Note</label>
				<textarea name="note" id="note-input" class="form-control" rows="3"></textarea>
			</div>
			<button type="submit" class="btn btn-primary btn-block">Submit</button>
		</form>

	</div>

</div>
