<dl>
	<dt>Acrobatics</dt>
	<dd>{{::singleCharacter.skills.Acrobatics}}</dd>
	<dt>Animal Handling</dt>
	<dd>{{::singleCharacter.skills['Animal Handling']}}</dd>
	<dt>Arcana</dt>
	<dd>{{::singleCharacter.skills.Arcana}}</dd>
	<dt>Athletics</dt>
	<dd>{{::singleCharacter.skills.Athletics}}</dd>
	<dt>Deception</dt>
	<dd>{{::singleCharacter.skills.Deception}}</dd>
	<dt>History</dt>
	<dd>{{::singleCharacter.skills.History}}</dd>
	<dt>Insight</dt>
	<dd>{{::singleCharacter.skills.Insight}}</dd>
	<dt>Intimidation</dt>
	<dd>{{::singleCharacter.skills.Intimidation}}</dd>
	<dt>Investigation</dt>
	<dd>{{::singleCharacter.skills.Investigation}}</dd>
	<dt>Medicine</dt>
	<dd>{{::singleCharacter.skills.Medicine}}</dd>
	<dt>Nature</dt>
	<dd>{{::singleCharacter.skills.Nature}}</dd>
	<dt>Perception</dt>
	<dd>{{::singleCharacter.skills.Perception}}</dd>
	<dt>Performance</dt>
	<dd>{{::singleCharacter.skills.Performance}}</dd>
	<dt>Persuasion</dt>
	<dd>{{::singleCharacter.skills.Persuasion}}</dd>
	<dt>Religion</dt>
	<dd>{{::singleCharacter.skills.Religion}}</dd>
	<dt>Sleight of Hand</dt>
	<dd>{{::singleCharacter.skills['Sleight of Hand']}}</dd>
	<dt>Stealth</dt>
	<dd>{{::singleCharacter.skills.Stealth}}</dd>
	<dt>Survival</dt>
	<dd>{{::singleCharacter.skills.Survival}}</dd>
</dl>
